
<style>




h1 {
 color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}

.form {
background-image : url(17.jpg);
background-size: cover;
  margin-top : 0px;

  display: flex;
  justify-content: center;
  


}

label {
  color:  #ffffff;
  text-transform: uppercase;
}

input {
  opacity :0.6;
  font-size: 14px;
  display: block;
  padding: 10px 30px 10px 5px;
  margin: 10px 30px 50px;
  border: 0px solid white;
  border-bottom: 2px solid grey;
}

input:focus {
  outline: none;
  border-bottom: 0px  #ffffff;
}



.button {
  background: #ffffff;
  border: 0;
  top : 0px;
  margin-top: 0px;
position : center;
  text:align : center;
color:black;
  text-transform: uppercase;
  font-size: 13px;
}

.button:hover {
  background: #5ec190;

}
.password-rules {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.error-message {
  color:red;

  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
}
</style>